.jumbotron {
<<<<<<< HEAD
  
=======
>>>>>>> b0e0b1a94331acf548443c3c921500cbddb128b3
  margin-top: 15px;
  p {
    font-family: 'Arimo', sans-serif;
    text-align: center;
  }
  .btn {
  	margin: 5px 5px;
<<<<<<< HEAD
  }  
}

.navbar-inverse {
	margin-bottom: 0px;
	border-radius: 0px;
}

body {
  background: url('../../images/pizza2.jpg') top center no-repeat;
  background-size:100%;
}

.row {
  margin-top: 0px !important;
  height: 500px;
}

.justified {
  text-align: justify;
  color: #fff;
}

h1 {
  color: #fff;
  text-align: center;
}

/* --------------------------------------
   Carousel
   -------------------------------------- */
  footer {
    background: #333;
    color: #eee;
    font-size: 11px;
    padding: 20px;
    margin-bottom: 0;
  }

  ul.unstyled {
    list-style: none;
    padding: 0;
  }

  .col-sm-2 {
    text-align: center;
    margin: 0 auto;
  }

/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
	margin-top: 0px;
}

.carousel-caption {
	font-size: 24px;
}

.carousel-caption h4 {
	font-size: 32px;
}

#myCarousel .item { 
	height: 500px; 
}

#slide1 {
	background: url('../../images/pizza1.jpg') top center no-repeat;
=======
  }
>>>>>>> b0e0b1a94331acf548443c3c921500cbddb128b3
}