<%  @result %>

<div class="container" style="text-align: center">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="jumbotron">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <%= @result %>
            <br>
            <%= link_to "Create a pizza", "http://order.papajohns.com/index.html?site=WEB", class: "btn btn-success btn-lg", id: "continue", type: "button" %>
            <%= link_to "Not right now", "/", class: "btn btn-danger btn-lg", id: "notnow", type: "button"  %>
          </div>
      </div>
    </div>
  </div>
</div>





       