<div class="carousel slide" id="myCarousel">
    <div class="carousel-inner">
        <div class="item active" id="slide1">
            <div class="carousel-caption">
                <h4>Save 50% off your next purchase from Papa John's</h4>
            </div>
        </div>
    </div>
</div>
